.git
.gitignore
.turbo
**/.turbo
.cache
**/.cache
node_modules
**/node_modules
dist
**/dist
.next
**/.next
.env
**/.env
.env.*
**/.env.*
*.md
profiles
apps/dashboard/public/images
packages/database/prisma/dev.db
packages/database/prisma/dev.db-shm
packages/database/prisma/dev.db-wal
